@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 340px;
    box-shadow: 0 5px 12px 0 #49484D26;
    border-radius: 12px;
    padding: 40px 30px 30px;
    box-sizing: border-box;
    text-align: center;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .form {
    margin: 30px 0 20px;
  }

  .field {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .field:first-child {
    margin-bottom: 30px;
  }

  .error {
    @include default-error;

    position: absolute;
    bottom: -16px;
  }

  .button {
    margin: 127px auto 0;
    width: 100%;
    padding: 12px 0;
  }

  .link {
    @include default-link;

    color: $primary-color;
  }
}
