@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.chat {
  display: flex;

  .menu {
    width: 310px;
    height: 100vh;
    background-color: $chat-menu-background;
    border: 1px solid $chat-border-color;
    box-sizing: border-box;

    .menu-header {
      padding: 20px 10px 15px;
      border-bottom: 1px solid $chat-border-color;

      .link-container {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;

        .link {
          @include reset-link;

          color: $secondary-color;
        }
      }

      .search-container {
        @include pseudo-icon(url('@/assets/svg/loupe.svg'), 20px, 20px);

        position: relative;

        &::after {
          left: 10px;
          top: calc(50% - 10px);
          position: absolute;
        }
      }

      .search {
        padding: 10px 5px 10px 35px;
        border-radius: 5px;
        position: relative;
      }
    }

    .chat-list {
      @include reset-list;
    }
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    width: calc(100% - 310px);

    .chat-header {
      display: flex;
      align-items: center;
      height: 60px;
      justify-content: space-between;
      padding: 10px 20px;
      border-bottom: 1px solid $chat-border-color;
      box-sizing: border-box;

      .person-info {
        display: flex;
        align-items: center;
        justify-content: center;

        .name {
          margin-left: 10px;
        }
      }

      .options {
        @include pseudo-icon(url('@/assets/svg/options.svg'), 16px, 16px);
      }
    }

    .chat-history {
      height: calc(100vh - 120px);
    }

    .chat-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 10px 20px;
      border-top: 1px solid $chat-border-color;
      box-sizing: border-box;

      .field-message {
        padding: 10px 20px;
        border-radius: 30px;
        margin: 0 10px;
      }

      .attach {
        @include pseudo-icon(url('@/assets/svg/clip.svg'), 36px, 36px);
      }

      .send {
        @include pseudo-icon(url('@/assets/svg/arrow.svg'), 36px, 36px);
      }
    }
  }
}
