@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

@mixin default-button {
  @include reset-button;
  @include transition;

  border-radius: 8px;

  &:hover {
    opacity: .9;
  }
}

.button {
  @include default-button;
}

.primary {
  @include default-button;

  background-color: $primary-color;
  color: white;
}

.primary-link {
  @include default-button;
  @include default-link;

  color: $primary-color
}

.danger-link {
  @include default-button;
  @include default-link;

  color: $error-color;
}
